.container
  / %a{:href => "#"}
  /   %button.btn.btn-primary{:style => "width: 50%;"} Update Jobs
  .container.inner-container{:style => "background-color: transparent; height:auto;margin-bottom: 0;padding-bottom: 0;"}
    %img{:src => "/assets/banner.jpg"}/
  .container.inner-container{:style => "background-color: #fff;padding-left: 5px;padding-right: 5px;margin-top:0;"}
    #div{:style => 'float:left;width:100%;'}
      %p{:style => 'float:left;font-size: 16px;font-weight: 700;padding-top: 10px;'} Jobs on Device
      %button.btn{:style => "float:right;border: 1px solid;", :onclick => 'updateJobs("download");'} 
        %b Update Jobs
    - if @jobs.present?
      - count = 0
      - @jobs.each do |current_job|
        %button.btn{:style => "border-radius: 0; height: 55px; width: 100%;", :onclick => "current_job_id = #{count}; current_job_type='cookie'; return reload('entry');"}
          %table
            %tr
              %td{:style => 'text-align:left; width:78px;'}
                %h5{:style => 'font-size:12px;'} #{current_job.qmnum}
              %td{:style=>'width:294px; paddin: 0;text-align:left;'}
                %p{:style => "font-size: 12px; margin: 0;"}= ("#{current_job.address} (#{current_job.job})").truncate(80)
        - count += 1
    %button.btn{:style => "width: 50%; float:left; margin: 20px auto;border: 1px solid;", :onclick => 'updateJobs("settings");'} 
      %b Advanced Settings